@page "/edit-round"
@layout MainLayout



<Green>
    <div class="fs-heading-spacer"></div>

    <div style="display:block; overflow: auto">
        <div class="fs-max-80" style="display: flex; align-content: normal; flex-direction: column; justify-content: center; margin: 20px auto; padding: 14px 20px 20px; background: white; border-radius: 5px;">
            @*<MudDatePicker PickerVariant="PickerVariant.Static" Date="@(DateTime.Today)" DisableToolbar="true" MaxDate="DateTime.Today" Rounded="true" />*@

            <h3 class="fs-heading mt-5" style="color:@ForeSinsTheme.MainRed">Round Date</h3>

            <MudDatePicker InputVariant="Variant.Outlined" PickerVariant="PickerVariant.Dialog" Date="@(DateTime.Today)" DisableToolbar="true" MaxDate="DateTime.Today" Rounded="true" Style="margin:0" />

            <Cta Text="Confess your sins" EndIcon="@Icons.Filled.ArrowDownward" Colour="Color.Primary" ScrollToId="step-sins" Class="mt-9" />
        </div>
    </div>

    <GrassSpacer Size="@GrassSizes.Normal"></GrassSpacer>
</Green>

<Hell HasCurvedBottom="true" HasCurvedTop="true" HasGrass="true">
    <div id="step-sins" class="fs-scroll-target">
        <SinsInputs></SinsInputs>
    </div>

    <Cta Text="Fill in round details" EndIcon="@Icons.Filled.ArrowDownward" Colour="Color.Primary" />
</Hell>



<Bunker>
    <div style="display:block; overflow: auto">
        <div class="fs-max-80" style="display: flex; align-content: normal; flex-direction: column; justify-content: center; margin: 20px auto; padding: 14px 20px 20px; background: white; border-radius: 5px;">
            @*<MudDatePicker PickerVariant="PickerVariant.Static" Date="@(DateTime.Today)" DisableToolbar="true" MaxDate="DateTime.Today" Rounded="true" />*@

            <h3 class="fs-heading mt-5" style="color:@ForeSinsTheme.MainRed">Handicap Index</h3>
            <MudNumericField T="double" Max="54" Min="-10" Format="N1" @bind-Value="HandicapIndex" Variant="Variant.Outlined"></MudNumericField>

            <h3 class="fs-heading mt-5" style="color:@ForeSinsTheme.MainRed">Course Handicap</h3>
            <MudNumericField Max="54" Min="-10" @bind-Value="CourseHandicap" Variant="Variant.Outlined"></MudNumericField>



            <Cta Text="Save" EndIcon="@Icons.Filled.Check" IsImportant="true" Colour="Color.Primary" Class="mt-9" />
        </div>
    </div>
</Bunker>



@code {
    [Parameter] public double HandicapIndex { get; set; } = 2.0;

    [Parameter] public double CourseHandicap { get; set; } = 3;

    [Parameter] public ScoreType ScoreType { get; set; } = ScoreType.Simple;
}